nav a{
  font-family: 'Iceland', sans-serif;
  font-size: 1.5rem;
 
}

#button-contactame {
  color:#EF8A5E;
}

#button-portafolio {
  color:#3F72AF;
}

#button-blog {
  color:#3F72AF;
}

#button-menu {
  background-color: #3F72AF;
}

#caricatura-hero img {
  width: 325px;
  height: 405px;
}

#presentation p {
  font-family: 'Gruppo', sans-serif;
  font-size: 1.2rem;
}

#card img {
  height: 30vh;
  
}

.redes_sociales{
  background-color: var(--color-oscuro);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.social-link{
  background-size: 75px;
  height: 75px;
  width: 75px;
  margin: 0 20px;

}

.github{
  background-image: url("../images/github.svg");
}

.twitter{
  background-image: url("../images/twitter.svg");
}

.instagram{
  background-image: url("../images/instagram.svg");
}

.linkedin {
  background-image: url("../images/linkedin.png");
}
}